@use '../../assets/styles/variables.scss' as vars;


.notification{
    position: fixed;
    display: flex;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 20px;
    background: rgba(vars.$color-black-dark, 0.7);
    border-radius: 12px;
    color: white;
    align-items: center;
    gap: 5px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;

    &.show{
        opacity: 1;
    }

    &.hide{
        opacity: 0;
    }

    >img {
        width: 30px;
        height: 30px;
    }

}